.caja{
    height:100px;
    width: 0px;
    background-color: green;
    margin: 10px;
}
.roja{
    background-color:red;
}
.amarilla{
    background-color: yellow;
}
.azul{
    background-color: blue
}
.verde{
    background-color: green;
}